*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background-image: linear-gradient(#6F1023, #B51D3B, #cf4560, #e0768b);
}

header h1{
  text-align: center;
  font-size: 80px;
  color: white;
  font-weight: bold;
  font-style: oblique;
}

.inputs{
  font-size: 20px;
  text-align: center;
  padding-top: 150px;
  color: white;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style:italic;
}

.inpt{
  height: 2em;
  width: 15%;
}

.button{
  padding: 12px;
  font-weight: bold;
}